<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CatCoin Stock Ticker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css?foo=30969" type="text/css"/>
    <script src="https://jreddy1.w3.uvm.edu/getStock.js"></script>
</head>

<body onload="loadStockData()">
<div id="visible-content">
    <div id="masthead">
        <a href="/"><img src="/static/catamount.png" alt="Catamount"/></a>
        <h1>Catamount Community Bank</h1>
    </div>

    <div id="content">
        <h6 style="color: darkgray; text-align: right;">You are logged in as <em>{{ netid }}</em></h6>
        <h2>CatCoin Stock Ticker</h2>
        <div class="card">
            <h4>Current Price: <span id="currentValue" style="color: #f50104;"></span></h4>
        </div>
        <div class="col md-12">
            <img src="/static/stock_market.png">
        </div>
    </div>

    <footer>
        <strong>University of Vermont</strong><br/>CS166 - Cybersecurity Principles
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
<div id="other"></div>
</body>
</html>